    body {
        background-color: #f2f2f2;
        font-family: Segoe UI light;
        font-size: 15px;
    }
    
    div {
        margin: auto;
        margin-top: 70px;
        width: 400px;
        height: 275px;
        padding: 25px 30px 5px 30px;
        background-color: white;
        border-radius: 50px;
        box-shadow: 0px 5px 20px rgba(149, 157, 165, 0.2);
        text-align: center;
    }
    
    div table {
        margin: auto;
        width: 100%;
        height: 60%;
        border-collapse: collapse;
    }
    
    div table,
    td,
    th {
        border-collapse: collapse;
        /* border: 1px solid black; */
        vertical-align: top;
    }
    
    table th {
        width: 70px;
        padding-right: 10px;
    }
    
    table td.submit {
        padding-right: 35px;
    }