body {
    background-color: #f2f2f2;
    text-align: center;
    font-family: Segoe UI light;
    font-size: 16px;
}

.display-msg-section {
    margin: auto;
    width: 40%;
    padding-bottom: 20px;
}

.display-msg-section .one-msg {
    border: thin solid black;
    margin-bottom: 10px;
    text-align: left;
    padding: 15px;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0px 5px 20px rgba(149, 157, 165, 0.2);
    display: flex;
}

.display-msg-section .one-msg img {
    width: 30%;
    padding-right: 10px;
}

.form-section {
    margin: auto;
    width: 30%;
    text-align: left;
}