body {
    background-color: #f2f2f2;
}

div {
    margin: auto;
    margin-top: 50px;
    width: 550px;
    height: 350px;
    padding: 50px 75px 50px 75px;
    background-color: white;
    border-radius: 50px;
    box-shadow: 0px 5px 20px rgba(149, 157, 165, 0.2);
}

div table {
    margin: auto;
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

div table th,
td {
    border-collapse: collapse;
    /* border: 1px solid black; */
    font-family: Segoe UI light;
    font-size: 16px;
    vertical-align: top;
}

table th {
    text-align: left;
    line-height: 25px;
    width: 30%;
}

table th.personal-details {
    padding-top: 10px;
    font-size: 24px;
    height: 30px;
    width: 250px;
}

table td.self-intro p {
    margin: 0;
    padding-top: 10px;
}

table td.ava {
    text-align: right;
}

table td.ava img {
    width: 125px;
    height: 135px;
    object-fit: cover;
}

table td ul {
    margin: 0;
    padding: 0;
}

table td ul li {
    list-style: none;
    line-height: 25px;
}