body {
    background-color: #f2f2f2;
    font-family: Segoe UI light;
    font-size: 15px;
    text-align: center;
}

h1 {
    margin-top: 30px;
}

div.input-box {
    margin: auto;
    margin-top: 10px;
    width: 400px;
    height: 210px;
    padding: 15px 30px 5px 30px;
    background-color: white;
    border-radius: 50px;
    box-shadow: 0px 5px 20px rgba(149, 157, 165, 0.2);
}

div.input-box table {
    margin: auto;
    width: 100%;
    height: 75%;
}

div.input-box table,
td,
th {
    border-collapse: collapse;
    /* border: 1px solid black; */
    vertical-align: top;
}

div.input-box table th {
    width: 120px;
    text-align: right;
    padding-right: 10px;
}

div.input-box table td.btn-td {
    padding-top: 10px;
    text-align: center;
}

div.msg-box {
    margin-top: 30px;
}