body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.wrapper {
    display: block;
    width: 70%;
    margin: auto;
    /* margin-top: 30px; */
}

table td.img-wrapper {
    width: 40%;
    height: 150px;
    text-align: center;
    border-left: 1px solid gray;
}

img {
    height: 90%;
    object-fit: cover;
}

a {
    text-decoration: none;
}

.bigger-btn {
    /* height: 30px; */
    padding: 6px;
}

/*  */

.msg-wrapper {
    margin-right: 10px;
    color: #008000;
    font-weight: 700;
}

/*  */

.search-box-wrapper {
    padding: 20px 20px 5px 20px;
    height: 30px;
    background-color: #1a1a1a;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-box-wrapper a {
    color: white;
    padding-bottom: 15px;
}

.search-box-wrapper form {
    width: 50%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-box-wrapper .search-input, .search-btn {
    margin-right: 10px;
}

.product-list {
    width: 90%;
    margin: auto;
}

.product-list .one-product {
    display: inline-flex;
    width: 25%;
    padding: 10px;
    margin: 10px;
    border: 1px solid grey;
    text-align: center;
    display: inline-flexbox;
    justify-content: center;
}

.product-list .one-product .product-name{
    font-weight: 600;
}

.product-list .one-product a {
    margin-right: 10px;
    font-size: 14px;
    color: black;
}

.product-list .one-product .img-wrapper {
    width: 40%;
    height: 100px;
    padding: 10px 0 0 10px ;
    display: flex;
    margin: auto;
    justify-content: center;
}

.checkout-msg-wrapper {
    width: 100%;
    text-align: center;

}




.product-details table.product-details-table {
    width: 90%;
    margin: auto;
    margin-top: 30px;
    padding: 15px;
    border: 1px solid gray;
    vertical-align: top;
}

.product-details table.product-details-table th {
    text-align: right;
    width: 25%;
    padding-right: 30px;
}

.deliver-and-price table.deliver-and-price-table {
    width: 90%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-collapse: collapse;
}

.deliver-and-price table.deliver-and-price-table td,
.deliver-and-price table.deliver-and-price-table th {
    padding: 5px;
    border: 1px solid gray;
    text-align: center;
}

.deliver-and-price table.deliver-and-price-table td.add-to-cart-wrapper {
    padding: 10px 0 0 0;
    border: none;
    text-align: right;
}

.cart-info table {
    width: 90%;
    margin: auto;
    margin-top: 30px;
    padding: 15px;
    border-collapse: collapse;
}

.cart-info table td,
.cart-info table th {
    padding: 5px;
    border: 1px solid gray;
}

.cart-info table th.software-title {
    width: 70%;
    border: 1px solid gray;
}

.cart-info table td.img-wrapper {
    width: 25%;
    height: 120px;
}



.cart-info table td.btn-wrapper {
    padding: 10px 0 0 0;
    border: none;
    width: 400px;
    column-span: 4;

}