span {
    float: left;
    font-family: "Cushing Book";
    font-size: 75pt;
}

p {
    margin-top: 5px;
    font-family: sans-serif
}

p.rhead {
    text-align: right;
    margin-right: 0.5in;
}

p.body {
    text-align: justify;
    text-indent: 0.5in;
}

p.foot {
    margin-left: 60%;
    line-height: 300%;
}