h1 {
    text-align: center;
}

p {
    margin: 0.25in;
    border: 0.25in solid black;
    padding: 0.25in;
    background-color: url(images/bond-paper.jpg);
}

body {
    background: url(images/bricks.jpg);
}

.banner {
    background: url(images/broads.jpg);
    font-size: 50pt;
    font-family: Arial Rounded MT Bold;
}