body {
    background-color: #f2f2f2;
    font-family: Segoe UI light;
    font-size: 18px;
}

h1 {
    margin-top: 30px;
    text-align: center;
}

div.form-section {
    margin: auto;
    width: 100%;
}

div.form-section table {
    width: 65%;
    margin: auto;
    font-size: 18px;
}

div.form-section table,
td,
th {
    border-collapse: collapse;
    /* border: 1px solid black; */
    line-height: 40px;
}

div.form-section table td.submit-btn-cell {
    text-align: center;
    padding: 5px 0 20px 0;
}

div.display-lists-section {
    display: flex;
    margin: auto;
    width: 80%;
}

div.one-list {
    margin: auto;
    width: 360px;
    height: 200px;
    padding: 25px 20px 5px 35px;
    background-color: white;
    border-radius: 50px;
    box-shadow: 0px 5px 20px rgba(149, 157, 165, 0.2);
    text-align: left;
}